.title {
    font-size: 60px;
    color: #590377;
    font-family: 'Courier New', monospace;
}
.homeScreenDiv {
    padding-top: 50px;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    color: red;
    margin-top: 70px;

}
.buttonStartGame {
    background-color: #590377 ;
    border: none;
    color: white;
    padding: 40px 93px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.buttonSettings {
    background-color: #C5C5C5;
    border: none;
    color: black;
    padding: 15px 141px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.buttonHomeScreen {
    background-color: #C5C5C5;
    border: none;
    color: black;
    padding: 15px 141px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#field {
    background-color: greenyellow;
    height: 900px;
    width: 680px;
    position: relative;
    border: solid 5px black;
}
#player {
    background-color: orangered;
    height: 40px;
    width: 40px;
    position: absolute;
    border: solid 3px black;
    z-index: 1000;
}